[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=nm-ovpn-import %f
Name=OpenVPN NM Importer
Icon=openvpn
MimeType=application/openvpn;application/x-openvpn-profile
Comment=Import OpenVPN configuration to NetworkManager
