[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name=Puppy Package Installer
Exec=petget-lite %f
MimeType=application/pet;
Icon=application-pet

