[Desktop Entry]
Name=DiskPup - minimal frugal installer
Comment=minimal frugal installer
Exec=diskpup
Icon=gnibbles
Terminal=false
Type=Application
Categories=X-Setup-installation;
GenericName=DiskPup
