[Unit]
Description=Puppy filesystem init
After=veritysetup.target kmod-static-nodes.service systemd-modules-load.service
Before=systemd-remount-fs.service systemd-journald.service sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/lib/puppy/etc/core-scripts/rc.sysinit systemd

[Install]
WantedBy=sysinit.target
