name: Build Puppy Main SFS

on:
  #schedule:
    #- cron: '0 2 */20 * *' # daily at 02:00 UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: debian:sid

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          apt-get update
          apt-get install -y \
            busybox \
            squashfs-tools wget xz-utils ca-certificates \
            wget kmod curl

      - name: Building main sfs file
        shell: bash
        run: |
        
              . ./DISTRO_SPECS

              echo "DISTRO_NAME=$DISTRO_NAME" >>  $GITHUB_ENV
              echo "DISTRO_VERSION=$DISTRO_VERSION" >>  $GITHUB_ENV
              echo "DISTRO_PUPPYSFS=$DISTRO_PUPPYSFS" >>  $GITHUB_ENV

              export TERM=xterm
              
              chmod +x ./01-build-debian-puppy.sh
              ./01-build-debian-puppy.sh
              clear
              chmod +x ./03-pack-sfs.sh
              ./03-pack-sfs.sh
              chmod +x ./04-process-initrd.sh
              ./04-process-initrd.sh
              tar -cJf $DISTRO_NAME-$DISTRO_VERSION.tar.xz -C puppy-livecd-build .              

      - name: Upload main puppy sfs file
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.DISTRO_NAME }} ${{ env.DISTRO_VERSION }} main SFS file
          path: ${{ env.DISTRO_PUPPYSFS }}-${{ env.DISTRO_VERSION }}.tar.xz
          compression-level: 0 
